 <div class="col-lg-12">
          <div class="col-lg-4 l_player"> 
            <%= image_tag 'left_p.png' %> 
          </div>
            <div class="col-lg-4 centered"> 
                <div class="alert alert-info">
                  Будь ласка введіть імена гравців
                </div>
                <div class="entered " alt="CenterSide"><%= render 'registration_form', battle: @battle %></div>
            </div>
          <div class="col-lg-4 r_player"> 
            <%= image_tag 'right_p.png'  %>
          </div>
        </div><!--/lg-12-->



